.button {
  box-shadow: 1px 1px 8px rgba($base-grey, .6);
  color: $base-white;
  cursor: pointer;
  font-family: 'Bangers', cursive;
  font-size: 4vw;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin: 6px 0;
  padding: 15px 20px;
  text-decoration: none;
  transition: all .6s;

  &:hover {
    box-shadow: 2px 2px 8px rgba($base-grey, .8);
    transform: scale(1.05);
  }

  @media (min-width: $break-one) {
    font-size: 1.8rem;
  }

  @media (min-width: $break-two) {
    font-size: 2.4rem;
  }
}

.button--blue {
  @extend .button;

  background: $base-blue;
}

.button--red {
  @extend .button;

  background: $base-red;
  vertical-align: middle;
}