/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: "Roboto", "Avenir", "Helvetica", "sans-serif";
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #1EA6DA;
  font-weight: 900;
  text-decoration: none; }

span.the-hunt {
  font-family: 'Bangers', cursive;
  font-size: 2.4rem; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.button, .button--blue, .button--red {
  box-shadow: 1px 1px 8px rgba(48, 48, 48, 0.6);
  color: #FFF;
  cursor: pointer;
  font-family: 'Bangers', cursive;
  font-size: 4vw;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin: 6px 0;
  padding: 15px 20px;
  text-decoration: none;
  transition: all .6s; }
  .button:hover, .button--blue:hover, .button--red:hover {
    box-shadow: 2px 2px 8px rgba(48, 48, 48, 0.8);
    transform: scale(1.05); }
  @media (min-width: 786px) {
    .button, .button--blue, .button--red {
      font-size: 1.8rem; } }
  @media (min-width: 1280px) {
    .button, .button--blue, .button--red {
      font-size: 2.4rem; } }

.button--blue {
  background: #1EA6DA; }

.button--red {
  background: #F44336;
  vertical-align: middle; }

.masthead-background-image {
  background: url("../img/mountain-background.jpeg") no-repeat 50% 20%;
  background-size: 100%;
  height: 230px;
  width: 100%; }
  @media (min-width: 786px) {
    .masthead-background-image {
      height: 576px; } }

.masthead-container {
  background: rgba(30, 166, 218, 0.5);
  display: flex;
  flex-flow: column wrap;
  height: 230px;
  position: relative;
  width: 100%; }
  @media (min-width: 786px) {
    .masthead-container {
      height: 576px; } }

.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  order: 1;
  padding: 25px 0;
  width: 80%; }
  @media (min-width: 786px) {
    .social-links {
      width: 60%; } }

.social-link {
  background-size: 100%;
  border-radius: 100px;
  display: inline-block;
  font-size: 0;
  height: 60px;
  transition: all .4s;
  width: 60px; }
  .social-link:hover {
    transform: scale(1.05); }
  .social-link#instagram-link {
    background: url("../img/social/instagram-logo--35.png") no-repeat center/100%; }
    @media (min-width: 786px) {
      .social-link#instagram-link {
        background: url("../img/social/instagram-logo--45.png") no-repeat center/100%; } }
    @media (min-width: 1280px) {
      .social-link#instagram-link {
        background: url("../img/social/instagram-logo--60.png") no-repeat center/100%; } }
  .social-link#twitter-link {
    background: url("../img/social/twitter-logo--35.png") no-repeat center/100%; }
    @media (min-width: 786px) {
      .social-link#twitter-link {
        background: url("../img/social/twitter-logo--45.png") no-repeat center/100%; } }
    @media (min-width: 1280px) {
      .social-link#twitter-link {
        background: url("../img/social/twitter-logo--60.png") no-repeat center/100%; } }
  .social-link#medium-link {
    background: url("../img/social/medium-logo--35.png") no-repeat center/100%; }
    @media (min-width: 786px) {
      .social-link#medium-link {
        background: url("../img/social/medium-logo--45.png") no-repeat center/100%; } }
    @media (min-width: 1280px) {
      .social-link#medium-link {
        background: url("../img/social/medium-logo--60.png") no-repeat center/100%; } }
  .social-link#github-link {
    background: url("../img/social/github-logo--35.png") no-repeat center/100%; }
    @media (min-width: 786px) {
      .social-link#github-link {
        background: url("../img/social/github-logo--45.png") no-repeat center/100%; } }
    @media (min-width: 1280px) {
      .social-link#github-link {
        background: url("../img/social/github-logo--60.png") no-repeat center/100%; } }
  .social-link#linkedin-link {
    background: url("../img/social/linkedin-logo--35.png") no-repeat center/100%; }
    @media (min-width: 786px) {
      .social-link#linkedin-link {
        background: url("../img/social/linkedin-logo--45.png") no-repeat center/100%; } }
    @media (min-width: 1280px) {
      .social-link#linkedin-link {
        background: url("../img/social/linkedin-logo--60.png") no-repeat center/100%; } }

.statement-container {
  order: 3;
  position: absolute;
  top: 170%;
  width: 100%; }
  @media (min-width: 786px) {
    .statement-container {
      order: 2;
      position: initial; } }

.statement {
  color: #303030;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 23px;
  margin: 0 auto;
  padding: 3% 0;
  width: 70%; }
  @media (min-width: 786px) {
    .statement {
      color: #FFF;
      font-size: 1.8rem;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      width: 60%; } }
  @media (min-width: 1280px) {
    .statement {
      font-size: 2.4rem;
      line-height: 31px;
      padding: 0; } }

.personal-info-container {
  display: flex;
  flex-flow: column;
  order: 2;
  position: absolute;
  top: 110px;
  width: 100%; }
  @media (min-width: 786px) {
    .personal-info-container {
      flex-flow: row wrap;
      order: 3;
      padding: 0 80px;
      top: 440px; } }

.image-container {
  background: #FFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  height: 182px;
  margin: 0 auto;
  padding: 5px;
  width: 182px; }
  @media (min-width: 786px) {
    .image-container {
      margin: 0; } }
  @media (min-width: 1280px) {
    .image-container {
      height: 235px;
      padding: 7.5px;
      width: 235px; } }

.personal-image {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  height: 200px;
  margin: 0 auto;
  width: 200px; }
  @media (min-width: 786px) {
    .personal-image {
      margin: 0; } }
  @media (min-width: 1280px) {
    .personal-image {
      height: 230px;
      width: 230px; } }

.personal-info-details {
  margin: 0 auto;
  position: relative;
  top: 20px; }
  @media (min-width: 786px) {
    .personal-info-details {
      margin: 0;
      padding: 45px 0 0 25px;
      position: initial; } }
  @media (min-width: 1280px) {
    .personal-info-details {
      padding: 25px 0 0 25px; } }

.personal-info-details__name {
  color: #303030;
  font-size: 3.6rem;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center; }
  @media (min-width: 786px) {
    .personal-info-details__name {
      color: #FFF;
      text-align: left;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); } }
  @media (min-width: 1280px) {
    .personal-info-details__name {
      font-size: 4.8rem; } }

.personal-info-details__title {
  color: #303030;
  font-size: 2.4rem;
  text-align: center; }
  @media (min-width: 786px) {
    .personal-info-details__title {
      color: #FFF;
      text-align: left;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); } }
  @media (min-width: 1280px) {
    .personal-info-details__title {
      font-size: 2.8rem; } }

.display-section__headline {
  color: #1EA6DA;
  font-family: 'Bangers', cursive;
  font-size: 25vw;
  font-weight: 700;
  letter-spacing: 5px;
  margin: 0 auto;
  width: 90%; }
  @media (min-width: 1028px) {
    .display-section__headline {
      width: 93%; } }
  @media (min-width: 1280px) {
    .display-section__headline {
      width: 96%; } }

.display-section-container {
  position: absolute;
  top: 120%;
  width: 100%; }
  @media (min-width: 786px) {
    .display-section-container {
      top: 110%; } }

.display-section--build,
.display-section--write,
.display-section--play {
  bottom: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: 0 auto;
  position: relative;
  width: 86%; }
  @media (min-width: 786px) {
    .display-section--build,
    .display-section--write,
    .display-section--play {
      bottom: 80px;
      width: 89%; } }
  @media (min-width: 1280px) {
    .display-section--build,
    .display-section--write,
    .display-section--play {
      bottom: 100px;
      width: 92%; } }

.display-section__hero-buttons {
  clear: both;
  display: inline-block;
  width: 100%; }

.display-section__content-hero {
  background: #303030;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 1px 1px 4px #303030;
  display: inline-block;
  float: left;
  height: 26vw;
  margin: 0 0 2% 2%;
  transition: background-size 5s cubic-bezier(0, 0.93, 0.51, 1);
  width: 26vw; }
  @media (min-width: 786px) {
    .display-section__content-hero {
      height: 20vw;
      width: 20vw; } }
  .display-section__content-hero:hover {
    background-size: 120%; }
  .display-section__content-hero .hero-cover {
    background: #303030;
    color: #FFF;
    display: flex;
    align-items: center;
    flex-flow: column-wrap;
    justify-content: center;
    font-size: 3.6rem;
    height: 26vw;
    text-align: center;
    transition: all 0;
    transition: background .6s;
    width: 26vw; }
    .display-section__content-hero .hero-cover:hover {
      background: rgba(23, 23, 23, 0.8); }
    @media (min-width: 786px) {
      .display-section__content-hero .hero-cover {
        height: 20vw;
        width: 20vw; } }
    .display-section__content-hero .hero-cover span {
      font-size: 2.4rem;
      font-weight: 300;
      margin: 0 auto;
      width: 70%; }
    @media (min-width: 786px) {
      .display-section__content-hero .hero-cover {
        font-size: 1.8rem; } }
    @media (min-width: 1280px) {
      .display-section__content-hero .hero-cover {
        font-size: 2.4rem; } }

.treasure-container {
  display: none;
  float: left;
  height: 0;
  margin: 0 0 5% 2%;
  width: 0; }
  @media (min-width: 1280px) {
    .treasure-container {
      width: 100%; } }

.treasure-hero {
  background-position: center top;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 8px rgba(48, 48, 48, 0.6);
  display: flex;
  align-items: flex-start;
  height: auto;
  margin-bottom: 2%;
  padding-top: 250px;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media (min-width: 786px) {
    .treasure-hero {
      background-size: 130%;
      padding-top: 350px; } }
  @media (min-width: 1280px) {
    .treasure-hero {
      background-size: 120%;
      padding-top: 400px; } }

.treasure-description-container {
  background: #FFF;
  padding: 15px 30px 25px;
  width: 100%; }
  @media (min-width: 786px) {
    .treasure-description-container {
      padding: 20px 50px 40px; } }
  @media (min-width: 1280px) {
    .treasure-description-container {
      padding: 30px 60px 50px; } }

.treasure-description__title {
  color: #1EA6DA;
  font-size: 36px;
  font-weight: 900;
  opacity: 0;
  padding: 30px 0 20px;
  float: left; }
  @media (min-width: 1280px) {
    .treasure-description__title {
      font-size: 48px; } }

.treasure-description__role {
  clear: both;
  float: left;
  font-size: 18px;
  font-weight: 300;
  opacity: 0;
  padding-bottom: 15px;
  text-transform: uppercase;
  width: 100%; }
  @media (min-width: 786px) {
    .treasure-description__role {
      font-size: 24px; } }
  @media (min-width: 1280px) {
    .treasure-description__role {
      font-size: 28px; } }

.treasure-description__details {
  clear: both;
  float: left;
  font-size: 16px;
  line-height: 23px;
  opacity: 0;
  width: 100%; }
  @media (min-width: 786px) {
    .treasure-description__details {
      font-size: 18px;
      line-height: 23px; } }
  @media (min-width: 1280px) {
    .treasure-description__details {
      font-size: 24px;
      line-height: 31px; } }

.treasure-hero__button-container {
  clear: both;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  float: right;
  opacity: 0;
  padding: 40px 30px 0; }

.treasure-description__link {
  margin-right: 20px;
  text-decoration: none;
  transition: all .4s; }

.display-section--contact {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 86%; }
  @media (min-width: 786px) {
    .display-section--contact {
      bottom: 80px;
      width: 89%; } }
  @media (min-width: 1280px) {
    .display-section--contact {
      bottom: 100px;
      width: 92%; } }
  .display-section--contact #mc_embed_signup {
    width: 80%; }
    .display-section--contact #mc_embed_signup em {
      font-style: italic; }
    .display-section--contact #mc_embed_signup strong {
      font-weight: 700; }
    .display-section--contact #mc_embed_signup .asterisk--blue {
      color: #1EA6DA; }
  .display-section--contact #mc-embed-cta {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 23px;
    padding: 0 0 5% 0; }
    @media (min-width: 786px) {
      .display-section--contact #mc-embed-cta {
        font-size: 1.8rem;
        line-height: 23px; } }
    @media (min-width: 1280px) {
      .display-section--contact #mc-embed-cta {
        font-size: 2.4rem;
        line-height: 31px; } }
  .display-section--contact #mc_embed_signup_scroll {
    box-shadow: 1px 1px 8px rgba(48, 48, 48, 0.6);
    padding: 40px 60px; }
  .display-section--contact #mc_embed_signup input {
    border: none;
    border-bottom: 1px solid #303030;
    font-weight: 200;
    color: #1EA6DA;
    font-size: 1.6rem;
    margin: 2% 0;
    padding: 2% 0;
    width: 100%; }
    @media (min-width: 786px) {
      .display-section--contact #mc_embed_signup input {
        font-size: 1.8rem;
        line-height: 23px; } }
    @media (min-width: 1280px) {
      .display-section--contact #mc_embed_signup input {
        font-size: 2.4rem;
        line-height: 31px; } }
  .display-section--contact #mc_embed_signup input:focus {
    border-bottom: 2px solid #1EA6DA;
    font-weight: 400;
    outline: none; }
  .display-section--contact input.button#mc-embedded-subscribe, .display-section--contact input#mc-embedded-subscribe.button--blue, .display-section--contact input#mc-embedded-subscribe.button--red {
    border-radius: 0px;
    color: #FFF;
    cursor: pointer;
    font-size: 1.6rem;
    height: auto;
    padding: 15px 20px;
    width: auto; }
    @media (min-width: 786px) {
      .display-section--contact input.button#mc-embedded-subscribe, .display-section--contact input#mc-embedded-subscribe.button--blue, .display-section--contact input#mc-embedded-subscribe.button--red {
        font-size: 1.8rem; } }
    @media (min-width: 1280px) {
      .display-section--contact input.button#mc-embedded-subscribe, .display-section--contact input#mc-embedded-subscribe.button--blue, .display-section--contact input#mc-embedded-subscribe.button--red {
        font-size: 2.4rem; } }
  .display-section--contact div.mc-field-group label, .display-section--contact div.mc-field-group strong {
    color: #303030;
    font-size: 1.6rem;
    font-weight: 300; }
    @media (min-width: 786px) {
      .display-section--contact div.mc-field-group label, .display-section--contact div.mc-field-group strong {
        font-size: 1.8rem;
        line-height: 23px; } }
    @media (min-width: 1280px) {
      .display-section--contact div.mc-field-group label, .display-section--contact div.mc-field-group strong {
        font-size: 2.4rem;
        line-height: 31px; } }
  .display-section--contact div.mc-field-group.input-group label {
    margin-left: 15px; }
  .display-section--contact .lets-chat--text {
    color: #303030;
    font-size: 2.8rem;
    font-weight: 300;
    margin: 8% 0 5px;
    width: 80%; }
  .display-section--contact .lets-chat--email {
    color: #1EA6DA;
    font-family: 'Bangers', cursive;
    font-size: 12vw;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 8%;
    width: 80%; }

@media (max-width: 600px) {
  .statement {
    padding: 7% 0; }

  .display-section--build,
  .display-section--write,
  .display-section--play {
    bottom: 23px; }

  .display-section__content-hero {
    height: 82vw;
    width: 82vw; }
    .display-section__content-hero.touch:hover {
      box-shadow: 2px 2px 8px rgba(48, 48, 48, 0.8);
      background-size: 100%;
      transform: scale(1.05); }
      .display-section__content-hero.touch:hover span {
        opacity: 0; }
    .display-section__content-hero .hero-cover {
      height: 82vw;
      width: 82vw; }

  .treasure-hero {
    background: #303030;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 245%;
    padding-top: 250px; }

  .treasure-hero__button-container {
    padding: 40px 0 0; }

  .display-section--contact {
    padding-bottom: 50px; }
    .display-section--contact #mc_embed_signup {
      width: 100%; }
    .display-section--contact #mc_embed_signup_scroll {
      padding: 30px 20px; }
    .display-section--contact .lets-chat--text {
      width: 100%; }
    .display-section--contact .lets-chat--email {
      width: 90%; } }
