/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: "Roboto", "Avenir", "Helvetica", "sans-serif";
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: #1EA6DA;
  font-weight: 900;
  text-decoration: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.button--blue {
  color: #1EA6DA;
  cursor: pointer;
  float: right;
  font-size: 16px;
  margin: 6px 0;
  padding: 10px 15px;
  text-decoration: none;
  transition: all .4s; }
  .button--blue:hover {
    background: rgba(30, 166, 218, 0.2); }
  @media (min-width: 1028px) {
    .button--blue {
      font-size: 18px; } }
  @media (min-width: 1280px) {
    .button--blue {
      font-size: 24px; } }

.masthead-background-image {
  background: url("../img/mountain-background.jpeg") no-repeat 50% 20%;
  background-size: 100%;
  height: 230px;
  width: 100%; }
  @media (min-width: 1028px) {
    .masthead-background-image {
      height: 576px; } }

.masthead-container {
  background: rgba(30, 166, 218, 0.5);
  display: flex;
  flex-flow: column wrap;
  height: 230px;
  position: relative;
  width: 100%; }
  @media (min-width: 1028px) {
    .masthead-container {
      height: 576px; } }

.social-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  order: 1;
  padding: 25px 0;
  width: 80%; }
  @media (min-width: 1028px) {
    .social-links {
      width: 60%; } }

.social-link {
  background-size: 100%;
  border-radius: 100px;
  display: inline-block;
  font-size: 0;
  height: 60px;
  transition: all .4s;
  width: 60px; }
  .social-link:hover {
    transform: scale(1.05); }
  .social-link#instagram-link {
    background: url("../img/social/instagram-logo--35.png") no-repeat center/100%; }
    @media (min-width: 1028px) {
      .social-link#instagram-link {
        background: url("../img/social/instagram-logo--45.png") no-repeat center/100%; } }
    @media (min-width: 1280px) {
      .social-link#instagram-link {
        background: url("../img/social/instagram-logo--60.png") no-repeat center/100%; } }
  .social-link#twitter-link {
    background: url("../img/social/twitter-logo--35.png") no-repeat center/100%; }
    @media (min-width: 1028px) {
      .social-link#twitter-link {
        background: url("../img/social/twitter-logo--45.png") no-repeat center/100%; } }
    @media (min-width: 1280px) {
      .social-link#twitter-link {
        background: url("../img/social/twitter-logo--60.png") no-repeat center/100%; } }
  .social-link#medium-link {
    background: url("../img/social/medium-logo--35.png") no-repeat center/100%; }
    @media (min-width: 1028px) {
      .social-link#medium-link {
        background: url("../img/social/medium-logo--45.png") no-repeat center/100%; } }
    @media (min-width: 1280px) {
      .social-link#medium-link {
        background: url("../img/social/medium-logo--60.png") no-repeat center/100%; } }
  .social-link#github-link {
    background: url("../img/social/github-logo--35.png") no-repeat center/100%; }
    @media (min-width: 1028px) {
      .social-link#github-link {
        background: url("../img/social/github-logo--45.png") no-repeat center/100%; } }
    @media (min-width: 1280px) {
      .social-link#github-link {
        background: url("../img/social/github-logo--60.png") no-repeat center/100%; } }
  .social-link#linkedin-link {
    background: url("../img/social/linkedin-logo--35.png") no-repeat center/100%; }
    @media (min-width: 1028px) {
      .social-link#linkedin-link {
        background: url("../img/social/linkedin-logo--45.png") no-repeat center/100%; } }
    @media (min-width: 1280px) {
      .social-link#linkedin-link {
        background: url("../img/social/linkedin-logo--60.png") no-repeat center/100%; } }

.statement-container {
  order: 3;
  position: absolute;
  top: 380px;
  width: 100%; }
  @media (min-width: 1028px) {
    .statement-container {
      order: 2;
      position: initial; } }

.statement {
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 300;
  line-height: 23px;
  margin: 0 auto;
  padding: 3% 0;
  width: 70%; }
  @media (min-width: 1028px) {
    .statement {
      color: #FFF;
      font-size: 18px;
      line-height: 23px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
      width: 60%; } }
  @media (min-width: 1280px) {
    .statement {
      font-size: 24px;
      line-height: 31px;
      padding: 0; } }

.personal-info-container {
  display: flex;
  flex-flow: column;
  order: 2;
  position: absolute;
  top: 110px;
  width: 100%; }
  @media (min-width: 1028px) {
    .personal-info-container {
      flex-flow: row wrap;
      order: 3;
      padding: 0 80px;
      top: 440px; } }

.image-container {
  background: #FFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  height: 182px;
  margin: 0 auto;
  padding: 5px;
  width: 182px; }
  @media (min-width: 1028px) {
    .image-container {
      margin: 0; } }
  @media (min-width: 1280px) {
    .image-container {
      height: 235px;
      padding: 7.5px;
      width: 235px; } }

.personal-image {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  height: 200px;
  margin: 0 auto;
  width: 200px; }
  @media (min-width: 1028px) {
    .personal-image {
      margin: 0; } }
  @media (min-width: 1280px) {
    .personal-image {
      height: 230px;
      width: 230px; } }

.personal-info-details {
  margin: 0 auto;
  position: relative;
  top: 20px; }
  @media (min-width: 1028px) {
    .personal-info-details {
      margin: 0;
      padding: 45px 0 0 25px;
      position: initial; } }
  @media (min-width: 1280px) {
    .personal-info-details {
      padding: 25px 0 0 25px; } }

.personal-info-details__name {
  color: #4A4A4A;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 8px;
  text-align: center; }
  @media (min-width: 1028px) {
    .personal-info-details__name {
      color: #FFF;
      text-align: left;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); } }
  @media (min-width: 1280px) {
    .personal-info-details__name {
      font-size: 48px; } }

.personal-info-details__title {
  color: #4A4A4A;
  font-size: 24px;
  text-align: center; }
  @media (min-width: 1028px) {
    .personal-info-details__title {
      color: #FFF;
      text-align: left;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); } }
  @media (min-width: 1280px) {
    .personal-info-details__title {
      font-size: 28px; } }

.display-section__headline {
  color: #1EA6DA;
  font-size: 120px;
  font-weight: 900;
  margin: 0 auto;
  width: 90%; }
  @media (min-width: 1028px) {
    .display-section__headline {
      font-size: 216px;
      width: 93%; } }
  @media (min-width: 1280px) {
    .display-section__headline {
      font-size: 288px;
      width: 96%; } }

.display-section-container {
  position: relative;
  top: 420px;
  width: 100%; }
  @media (min-width: 1028px) {
    .display-section-container {
      top: 55px; } }
  @media (min-width: 1280px) {
    .display-section-container {
      top: 120px; } }

.display-section--build,
.display-section--write,
.display-section--play {
  bottom: 40px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  position: relative;
  width: 86%; }
  @media (min-width: 1028px) {
    .display-section--build,
    .display-section--write,
    .display-section--play {
      bottom: 80px;
      width: 89%; } }
  @media (min-width: 1280px) {
    .display-section--build,
    .display-section--write,
    .display-section--play {
      bottom: 100px;
      width: 92%; } }

.display-section__content-hero {
  background: #4A4A4A;
  box-shadow: 1px 1px 4px #4a4a4a;
  height: 26vw;
  margin: 0 0 2% 2%;
  transition: all .4s;
  width: 26vw; }
  .display-section__content-hero:hover {
    box-shadow: 2px 2px 8px #4a4a4a;
    transform: scale(1.05); }
  @media (min-width: 1028px) {
    .display-section__content-hero {
      height: 20vw;
      width: 20vw; } }
  .display-section__content-hero .blue-cover {
    background: rgba(30, 166, 218, 0.5);
    height: 100%;
    width: 100%; }

.treasure-container {
  display: none;
  margin: 0 0 5% 2%;
  width: 95%; }
  @media (min-width: 1280px) {
    .treasure-container {
      width: 93%; } }

.treasure-hero {
  background: #4A4A4A;
  height: 250px;
  margin-bottom: 2%;
  width: 100%; }
  @media (min-width: 1028px) {
    .treasure-hero {
      height: 350px; } }
  @media (min-width: 1280px) {
    .treasure-hero {
      height: 400px; } }

.close-button {
  cursor: pointer;
  float: right;
  height: 60px;
  position: relative;
  right: 20px;
  top: 20px;
  text-shadow: 1px 1px 4px #4A4A4A;
  transition: all .4s;
  width: 60px; }
  .close-button:hover {
    transform: scale(1.05); }

.treasure-description-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%; }

.description-head {
  width: 100%; }

.treasure-description__title {
  color: #1EA6DA;
  font-size: 36px;
  font-weight: 900;
  padding: 6px 0 8px;
  float: left; }
  @media (min-width: 1280px) {
    .treasure-description__title {
      font-size: 48px; } }

.treasure-description__link {
  color: #1EA6DA;
  cursor: pointer;
  float: right;
  font-size: 16px;
  margin: 6px 0;
  padding: 10px 15px;
  text-decoration: none;
  transition: all .4s; }
  .treasure-description__link:hover {
    background: rgba(30, 166, 218, 0.2); }
  @media (min-width: 1028px) {
    .treasure-description__link {
      font-size: 18px; } }
  @media (min-width: 1280px) {
    .treasure-description__link {
      font-size: 24px; } }

.treasure-description__role {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 15px;
  text-transform: uppercase;
  width: 100%; }
  @media (min-width: 1028px) {
    .treasure-description__role {
      font-size: 24px; } }
  @media (min-width: 1280px) {
    .treasure-description__role {
      font-size: 28px; } }

.treasure-description__details {
  font-size: 16px;
  line-height: 23px;
  width: 100%; }
  @media (min-width: 1028px) {
    .treasure-description__details {
      font-size: 18px;
      line-height: 23px; } }
  @media (min-width: 1280px) {
    .treasure-description__details {
      font-size: 24px;
      line-height: 31px; } }

.display-section--contact {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 86%; }
  @media (min-width: 1028px) {
    .display-section--contact {
      bottom: 80px;
      width: 89%; } }
  @media (min-width: 1280px) {
    .display-section--contact {
      bottom: 100px;
      width: 92%; } }
  .display-section--contact #mc_embed_signup {
    width: 80%; }
    .display-section--contact #mc_embed_signup em {
      font-style: italic; }
    .display-section--contact #mc_embed_signup strong {
      font-weight: 700; }
    .display-section--contact #mc_embed_signup .asterisk--blue {
      color: #1EA6DA; }
  .display-section--contact #mc-embed-cta {
    font-size: 24px;
    font-weight: 300;
    line-height: 31px;
    padding: 0 0 5% 0; }
  .display-section--contact input {
    border-radius: 3px;
    font-weight: 200;
    color: #00A297;
    font-size: 1.5rem;
    margin: 2% 0;
    padding: 2%;
    width: 100%; }
  .display-section--contact input:focus {
    background-color: #1EA6DA;
    color: #FFF;
    font-weight: 400;
    outline-color: unset; }
  .display-section--contact input.button#mc-embedded-subscribe {
    background: none;
    border-radius: 0px;
    color: #1EA6DA;
    cursor: pointer;
    float: left;
    font-size: 16px;
    height: auto;
    margin: 6px 0;
    padding: 10px 15px;
    text-decoration: none;
    transition: all .4s; }
    .display-section--contact input.button#mc-embedded-subscribe:hover {
      background: rgba(30, 166, 218, 0.2); }
  .display-section--contact div.mc-field-group label, .display-section--contact div.mc-field-group strong {
    color: #4A4A4A;
    font-size: 24px;
    font-weight: 300; }
  .display-section--contact div.mc-field-group.input-group label {
    margin-left: 15px; }
  .display-section--contact .lets-chat--text {
    color: #4A4A4A;
    display: inline;
    float: left;
    font-size: 28px;
    font-weight: 900;
    margin: 8% 0 0 10%;
    width: 100%; }
    @media (min-width: 1028px) {
      .display-section--contact .lets-chat--text {
        font-size: 36px; } }
    @media (min-width: 1280px) {
      .display-section--contact .lets-chat--text {
        font-size: 48px; } }
  .display-section--contact .lets-chat--email {
    color: #1EA6DA;
    font-size: 72px;
    font-weight: 900;
    margin: 0 0 8% 10%;
    width: 97%; }
    @media (min-width: 1028px) {
      .display-section--contact .lets-chat--email {
        font-size: 120px; } }
    @media (min-width: 1280px) {
      .display-section--contact .lets-chat--email {
        font-size: 144px; } }

@media (max-width: 786px) {
  .masthead-background-image {
    background: url("../img/mountain-background.jpeg") no-repeat 50% 20%;
    background-size: 100%;
    height: 230px;
    width: 100%; }

  .masthead-container {
    background: rgba(30, 166, 218, 0.5);
    display: flex;
    flex-flow: column wrap;
    height: 230px;
    position: relative;
    width: 100%; }

  .social-links {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    order: 1;
    padding: 25px 0;
    width: 80%; }

  .social-link {
    background-size: 100%;
    border-radius: 100px;
    display: inline-block;
    font-size: 0;
    height: 60px;
    transition: all .4s;
    width: 60px; }
    .social-link:hover {
      transform: scale(1.05); }
    .social-link#instagram-link {
      background: url("../img/social/instagram-logo--35.png") no-repeat center/100%; }
    .social-link#twitter-link {
      background: url("../img/social/twitter-logo--35.png") no-repeat center/100%; }
    .social-link#medium-link {
      background: url("../img/social/medium-logo--35.png") no-repeat center/100%; }
    .social-link#github-link {
      background: url("../img/social/github-logo--35.png") no-repeat center/100%; }
    .social-link#linkedin-link {
      background: url("../img/social/linkedin-logo--35.png") no-repeat center/100%; }

  .statement-container {
    order: 3;
    position: absolute;
    top: 380px;
    width: 100%; } }
  @media (max-width: 786px) and (min-width: 1028px) {
    .statement-container {
      order: 2;
      position: initial; } }

@media (max-width: 786px) {
  .statement {
    color: #4A4A4A;
    font-size: 16px;
    font-weight: 300;
    line-height: 23px;
    margin: 0 auto;
    padding: 7% 0;
    width: 70%; }

  .personal-info-container {
    display: flex;
    flex-flow: column;
    order: 2;
    position: absolute;
    top: 110px;
    width: 100%; } }
  @media (max-width: 786px) and (min-width: 1028px) {
    .personal-info-container {
      flex-flow: row wrap;
      order: 3;
      padding: 0 80px;
      top: 440px; } }

@media (max-width: 786px) {
  .image-container {
    background: #FFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    height: 182px;
    margin: 0 auto;
    padding: 5px;
    width: 182px; } }
  @media (max-width: 786px) and (min-width: 1028px) {
    .image-container {
      margin: 0; } }
  @media (max-width: 786px) and (min-width: 1280px) {
    .image-container {
      height: 235px;
      padding: 7.5px;
      width: 235px; } }

@media (max-width: 786px) {
  .personal-image {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    height: 200px;
    margin: 0 auto;
    width: 200px; } }
  @media (max-width: 786px) and (min-width: 1028px) {
    .personal-image {
      margin: 0; } }
  @media (max-width: 786px) and (min-width: 1280px) {
    .personal-image {
      height: 230px;
      width: 230px; } }

@media (max-width: 786px) {
  .personal-info-details {
    margin: 0 auto;
    position: relative;
    top: 20px; } }
  @media (max-width: 786px) and (min-width: 1028px) {
    .personal-info-details {
      margin: 0;
      padding: 45px 0 0 25px;
      position: initial; } }
  @media (max-width: 786px) and (min-width: 1280px) {
    .personal-info-details {
      padding: 25px 0 0 25px; } }

@media (max-width: 786px) {
  .personal-info-details__name {
    color: #4A4A4A;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 8px;
    text-align: center; } }
  @media (max-width: 786px) and (min-width: 1028px) {
    .personal-info-details__name {
      color: #FFF;
      text-align: left;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); } }
  @media (max-width: 786px) and (min-width: 1280px) {
    .personal-info-details__name {
      font-size: 48px; } }

@media (max-width: 786px) {
  .personal-info-details__title {
    color: #4A4A4A;
    font-size: 24px;
    text-align: center; } }
  @media (max-width: 786px) and (min-width: 1028px) {
    .personal-info-details__title {
      color: #FFF;
      text-align: left;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); } }
  @media (max-width: 786px) and (min-width: 1280px) {
    .personal-info-details__title {
      font-size: 28px; } }

@media (max-width: 786px) {
  .display-section__headline {
    color: #1EA6DA;
    font-size: 90px;
    font-weight: 900;
    margin: 0 auto;
    width: 90%; }

  .display-section-container {
    position: relative;
    top: 570px;
    width: 100%; }

  .display-section--build,
  .display-section--write,
  .display-section--play {
    bottom: 23px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    position: relative;
    width: 86%; }

  .display-section__content-hero {
    background: #4A4A4A;
    box-shadow: 1px 1px 4px #4a4a4a;
    height: 82vw;
    margin: 0 0 2% 2%;
    transition: all .4s;
    width: 82vw; }
    .display-section__content-hero:hover {
      box-shadow: 2px 2px 8px #4a4a4a;
      transform: scale(1.05); }
    .display-section__content-hero .blue-cover {
      background: rgba(30, 166, 218, 0.5);
      height: 100%;
      width: 100%; }

  .treasure-container {
    display: none;
    margin: 0 0 5% 2%;
    width: 95%; } }
  @media (max-width: 786px) and (min-width: 1280px) {
    .treasure-container {
      width: 93%; } }

@media (max-width: 786px) {
  .treasure-hero {
    background: #4A4A4A;
    height: 250px;
    margin-bottom: 2%;
    width: 100%; } }
  @media (max-width: 786px) and (min-width: 1028px) {
    .treasure-hero {
      height: 350px; } }
  @media (max-width: 786px) and (min-width: 1280px) {
    .treasure-hero {
      height: 400px; } }

@media (max-width: 786px) {
  .close-button {
    cursor: pointer;
    float: right;
    height: 60px;
    position: relative;
    right: 20px;
    top: 20px;
    text-shadow: 1px 1px 4px #4A4A4A;
    transition: all .4s;
    width: 60px; }
    .close-button:hover {
      transform: scale(1.05); }

  .treasure-description-container {
    display: flex;
    flex-flow: row wrap;
    width: 100%; }

  .description-head {
    width: 100%; }

  .treasure-description__title {
    color: #1EA6DA;
    font-size: 36px;
    font-weight: 900;
    padding: 6px 0 8px;
    float: left; } }
  @media (max-width: 786px) and (min-width: 1280px) {
    .treasure-description__title {
      font-size: 48px; } }

@media (max-width: 786px) {
  .treasure-description__link {
    color: #1EA6DA;
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin: 6px 0;
    padding: 10px 15px;
    text-decoration: none;
    transition: all .4s; }
    .treasure-description__link:hover {
      background: rgba(30, 166, 218, 0.2); } }
  @media (max-width: 786px) and (min-width: 1028px) {
    .treasure-description__link {
      font-size: 18px; } }
  @media (max-width: 786px) and (min-width: 1280px) {
    .treasure-description__link {
      font-size: 24px; } }

@media (max-width: 786px) {
  .treasure-description__role {
    font-size: 18px;
    font-weight: 300;
    padding-bottom: 15px;
    text-transform: uppercase;
    width: 100%; } }
  @media (max-width: 786px) and (min-width: 1028px) {
    .treasure-description__role {
      font-size: 24px; } }
  @media (max-width: 786px) and (min-width: 1280px) {
    .treasure-description__role {
      font-size: 28px; } }

@media (max-width: 786px) {
  .treasure-description__details {
    font-size: 16px;
    line-height: 23px;
    width: 100%; } }
  @media (max-width: 786px) and (min-width: 1028px) {
    .treasure-description__details {
      font-size: 18px;
      line-height: 23px; } }
  @media (max-width: 786px) and (min-width: 1280px) {
    .treasure-description__details {
      font-size: 24px;
      line-height: 31px; } }

@media (max-width: 786px) {
  .email-section {
    display: flex;
    flex-flow: row wrap;
    margin: 5% auto 15%;
    width: 86%; }
    .email-section p {
      color: #4A4A4A;
      font-size: 20px;
      font-weight: 900;
      width: 100%; }
    .email-section h1 {
      color: #1EA6DA;
      font-size: 36px;
      font-weight: 900;
      width: 90%; } }
