.display-section--contact {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  width: 86%;

  @media (min-width: $break-one) {
    bottom: 80px;
    width: 89%;
  }

  @media (min-width: $break-two) {
    bottom: 100px;
    width: 92%;
  }

  #mc_embed_signup {
    width: 80%;
    
    em {
      font-style: italic;
    }

    strong {
      font-weight: 700;
    }

    .asterisk--blue {
      color: $base-blue;
    }
  }

  #mc-embed-cta {
    font-size: 4vw;
    font-weight: 300;
    line-height: 23px;
    padding: 0 0 5% 0;

    @media (min-width: $break-one) {
      font-size: 1.8rem;
      line-height: 23px;
    }

    @media (min-width: $break-two) {
      font-size: 2.4rem;
      line-height: 31px;
    }
  }

  #mc_embed_signup_scroll {
    box-shadow: 1px 1px 4px rgba($base-grey, 1);
    padding: 40px 60px;
  }

  #mc_embed_signup input {
    border: none;
    border-bottom: 1px solid $base-grey;
    font-weight: 200;
    color: $base-blue; 
    font-size: 1.5rem;
    margin: 2% 0;
    padding: 2% 0;
    width: 100%;
  }

  #mc_embed_signup input:focus {
    border-bottom: 2px solid $base-blue; 
    font-weight: 400;
    outline: none;
  }

  input.button#mc-embedded-subscribe {
    background: $base-blue;
    border-radius: 0px;
    box-shadow: 1px 1px 4px rgba($base-grey, 1);
    color: $base-white;
    cursor: pointer;
    font-family: 'Bangers', cursive;
    font-size: 4vw;
    font-weight: 500;
    height: auto;
    letter-spacing: 1px;
    padding: 10px 15px;
    text-decoration: none;
    transition: all .4s;
    width: auto;

    &:hover {
      box-shadow: 2px 2px 8px rgba($base-grey, 1);
      transform: scale(1.05);
    }

    @media (min-width: $break-one) {
      font-size: 1.8rem;
      line-height: 23px;
    }

    @media (min-width: $break-two) {
      font-size: 2.4rem;
      line-height: 31px;
    }
  }

  div.mc-field-group label, div.mc-field-group strong {
    color: $base-grey;
    font-size: 4vw;
    font-weight: 300;

    @media (min-width: $break-one) {
      font-size: 1.2rem;
      line-height: 23px;
    }

    @media (min-width: $break-two) {
      font-size: 1.8rem;
      line-height: 31px;
    }
  }

  div.mc-field-group.input-group label {
    margin-left: 15px;
  }




  //! CONTACT INFO _____________________________________
  //! __________________________________________________

  .lets-chat--text {
    color: $base-grey;
    font-size: 2.8rem;
    font-weight: 300;
    margin: 8% 0 5px;
    width: 80%;
  }

  .lets-chat--email {
    color: $base-blue;
    font-family: 'Bangers', cursive;
    font-size: 12vw;
    font-weight: 700;
    letter-spacing: 3px;
    margin: 0 0 8%;
    width: 80%;
  }
}