.display-section__headline {
  color: $base-blue;
  font-size: 25vw;
  font-weight: 900;
  margin: 0 auto;
  width: 90%;

  @media (min-width: 1028px) {
    width: 93%;
  }

  @media (min-width: 1280px) {
    width: 96%;
  }
}

.display-section-container {
  position: absolute;
  top: 115%;
  width: 100%;

  @media (min-width: $break-one) {
    top: 100%;
  }
}

.display-section--build, 
.display-section--write, 
.display-section--play {
  bottom: 40px;
  display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  margin: 0 auto;
  position: relative;
  width: 86%;

  @media (min-width: $break-one) {
    bottom: 80px;
    width: 89%;
  }

  @media (min-width: $break-two) {
    bottom: 100px;
    width: 92%;
  }
}

.display-section__hero-buttons {
  clear: both;
  display: inline-block;
  width: 100%;
}

.display-section__content-hero {
  // background: url({{ work.hero }}) center center/100%;
  background: $base-grey;
  box-shadow: 1px 1px 4px rgba($base-grey, 1);
  display: inline-block;
  float: left;
  height: 26vw;
  margin: 0 0 2% 2%;
  transition: all .4s;
  width: 26vw;

  &:hover {
    // @include animate(hero-aim, 1.5s, linear, 1);
    // outline: 4px solid lighten($base-blue, 22%);
    outline: 4px solid #40C4FF;
    outline-offset: 10px;
  }

  @media (min-width: $break-one) {
    height: 20vw;
    width: 20vw;
  }

  .hero-cover {
    background: $base-grey;
    display: flex;
      align-items: center;
      flex-flow: column-wrap;
      justify-content: center;
    height: 26vw;
    transition: all .4s;
    width: 26vw;

    &:hover {
      background: rgba(darken($base-blue, 10%), .9);

      .hero-cover__target {
        // color: lighten($base-blue, 22%);
        color: #40C4FF;
        display: flex;
        flex-flow: row wrap;
        font-size: 18px;
        font-weight: 700;
        display: inline-block;
        transition: all .4s;
      }
    }

    @media (min-width: $break-one) {
      height: 20vw;
      width: 20vw;
    }
  }
}