.display-section-container {
  position: relative;
  top: 420px;
  width: 100%;

  @media (min-width: $break-one) {
    top: 55px;
  }

  @media (min-width: $break-two) {
    top: 120px;
  }
}

.display-section--build, 
.display-section--write, 
.display-section--play {
  margin: 0 auto;
  width: 87%;

  @media (min-width: $break-one) {
    width: 90%;
  }

  @media (min-width: $break-two) {
    width: 93%;
  }
}

.display-section__headline {
  color: $base-blue;
  font-size: 120px;
  font-weight: 900;
  margin: 0 auto 5%;
  width: 90%;

  @media (min-width: 1028px) {
    font-size: 216px;
    width: 93%;
  }

  @media (min-width: 1280px) {
    font-size: 288px;
    width: 96%;
  }
}