// @include keyframe(hero-aim) {
//   0% {
//     outline: .1px solid $base-blue;
//     outline-offset: 0;
//   }
//   1% {
//     outline: 1px solid $base-blue;
//     outline-offset: .1px;
//   }
//   25% {
//     outline: 3px solid lighten($base-blue, 15%);
//     outline-offset: 5px;
//   }
//   50% {
//     outline: 3px solid #18FFFF;
//     outline-offset: 10px;
//   }
//   75% {
//     outline: 3px solid lighten($base-blue, 15%);
//     outline-offset: 5px;
//   }
//   99% {
//     outline: 1px solid $base-blue;
//     outline-offset: .1px;
//   }
//   100% {
//     outline: .1px solid $base-blue;
//     outline-offset: 0;
//   }
// }

.display-section__headline {
  color: $base-blue;
  font-size: 120px;
  font-weight: 900;
  margin: 0 auto;
  width: 90%;

  @media (min-width: 1028px) {
    font-size: 216px;
    width: 93%;
  }

  @media (min-width: 1280px) {
    font-size: 288px;
    width: 96%;
  }
}

.display-section-container {
  position: relative;
  top: 420px;
  width: 100%;

  @media (min-width: $break-one) {
    top: 55px;
  }

  @media (min-width: $break-two) {
    top: 120px;
  }
}

.display-section--build, 
.display-section--write, 
.display-section--play {
  bottom: 40px;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  position: relative;
  width: 86%;

  @media (min-width: $break-one) {
    bottom: 80px;
    width: 89%;
  }

  @media (min-width: $break-two) {
    bottom: 100px;
    width: 92%;
  }
}

.display-section__content-hero {
  // background: url({{ work.hero }}) center center/100%;
  background: $base-grey;
  box-shadow: 1px 1px 4px rgba($base-grey, 1);
  height: 26vw;
  margin: 0 0 2% 2%;
  transition: all .4s;
  width: 26vw;

  &:hover {
    // @include animate(hero-aim, 1.5s, linear, 1);
    outline: 3px solid darken(#18FFFF, 10%);
    outline-offset: 10px;

  }

  @media (min-width: $break-one) {
    height: 20vw;
    width: 20vw;
  }

  .hero-cover {
    background: $base-grey;
    display: flex;
      align-items: center;
      flex-flow: column-wrap;
      justify-content: center;
    height: 26vw;
    transition: all .4s;
    width: 26vw;

    &:hover {
      background: rgba(darken($base-grey, 5%), .9);

      .hero-cover__target {
        color: #18FFFF;
        font-size: 60px;
        font-weight: 300;
        display: inline-block;
        transition: all .4s;
      }
    }

    @media (min-width: $break-one) {
      height: 20vw;
      width: 20vw;
    }
  }

  .hero-cover__target {
    color: transparent;
  }
}