.treasure-container {
  box-shadow: 1px 1px 8px rgba($base-grey, .6);
  display: none;
  float: left;
  height: 0;
  margin: 0 0 5% 2%;
  width: 0;

  @media (min-width: $break-two) {
    width: 100%;
  }
}

// Treasure Hero image should be 3.2x as long as it is tall --> set in vw
.treasure-hero {
  display: flex;
    align-items: flex-start;
  height: 250px;
  object-fit: cover;
  width: 100%;

  @media (min-width: $break-one) {
    display: flex;
    align-items: flex-start;
    background-size: 130%;
    height: 350px;
  }

  @media (min-width: $break-two) {
    background-size: 120%;
    height: 400px;
  }
}


.treasure-description-container {
  background: $base-white;
  padding: 15px 30px 25px;
  width: 100%;

  @media (min-width: $break-one) {
    padding: 25px 50px 40px;
  }

  @media (min-width: $break-two) {
    padding: 35px 60px 50px;
  }
}

.treasure-description__title {
  color: $base-blue;
  font-size: 3.6rem;
  font-weight: 900;
  opacity: 0;
  padding: 30px 0 20px;
  float: left;

  @media (min-width: $break-two) {
    font-size: 4.8rem;
  }
}

.treasure-description__role {
  clear: both;
  float: left;
  font-size: 1.8rem;
  font-weight: 300;
  opacity: 0;
  padding-bottom: 15px;
  text-transform: uppercase;
  width: 100%;

  @media (min-width: $break-one) {
    font-size: 2.4rem;
  }

  @media (min-width: $break-two) {
    font-size: 2.8rem;
  }
}

.treasure-description__details {
  clear: both;
  float: left;
  font-size: 1.6rem;
  line-height: 23px;
  opacity: 0;
  width: 100%;

  @media (min-width: $break-one) {
    font-size: 1.8rem;
    line-height: 23px;
  }

  @media (min-width: $break-two) {
    font-size: 2.4rem;
    line-height: 31px;
  }

  a {
    font-size: 1.6rem;
    line-height: 23px;
    
    @media (min-width: $break-one) {
      font-size: 1.8rem;
      line-height: 23px;
    }

    @media (min-width: $break-two) {
      font-size: 2.4rem;
      line-height: 31px;
    }
  }
}

.treasure-hero__button-container {
  clear: both;
  display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
  float: right;
  opacity: 0;
  padding: 40px 30px 0;
}

.treasure-description__link {
  margin-right: 20px;
  text-decoration: none;
  transition: all .4s;
}