.display-section--contact {
  display: flex;
  flex-flow: row wrap;
  margin: 5% auto 15%;
  width: 86%;

  .lets-chat--text {
    color: $base-grey;
    font-size: 20px;
    font-weight: 900;
    width: 100%;
  }

  .lets-chat--email {
    color: $base-blue;
    font-size: 36px;
    font-weight: 900;
    width: 90%;
  }
}