.display-section--contact {
  padding-bottom: 50px;

  #mc_embed_signup {
    width: 100%;
  }

  #mc_embed_signup_scroll {
    padding: 30px 20px;
  }

  .lets-chat--text {
    width: 100%;
  }

  .lets-chat--email {
    width: 90%;
  }
}