.display-section--contact {
  margin: 5% auto 50px;

  #mc_embed_signup {
    width: 100%;
  }

  .lets-chat--text {
    font-size: 20px;
    width: 100%;
  }

  .lets-chat--email {
    font-size: 36px;
    width: 90%;
  }
}