.display-section--build, 
.display-section--write, 
.display-section--play {
  bottom: 23px;
}

.display-section__content-hero {
  height: 82vw;
  width: 82vw;

  &.touch {
    
    &:hover {
      box-shadow: 2px 2px 8px rgba($base-grey, .8);
      background-size: 100%;
      transform: scale(1.05);
    }

    span {
      opacity: 0;
    }
  }

  .hero-cover {
    height: 82vw;
    width: 82vw;
  }
}