.treasure-hero {
  background: $base-grey;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 245%;
  padding-top: 250px;
}

.treasure-hero__button-container {
  padding: 40px 0 0;
}